APP_NAME=E-Voting Backend
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DATABASE=e_voting
MYSQL_USER=root
MYSQL_PASSWORD=

DATABASE_URL=mysql+pymysql://root:@127.0.0.1:3306/e_voting

JWT_SECRET_KEY=change-me
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60

FACE_MATCH_THRESHOLD=0.35
FACE_MODEL_NAME=buffalo_l

UPLOAD_DIR=storage

